body, html {
    height: 100%;
    font-family:verdana;
  }



.bg_main {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1579621970563-ebec7560ff3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg_institutional {
    background-image: url("https://images.unsplash.com/photo-1483129804960-cb1964499894?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg_retail {
    background-image: url("https://images.unsplash.com/flagged/photo-1579225818168-858da8667fae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg_sources {
    background-image: url("https://images.unsplash.com/photo-1606336783628-87c504ea13a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.text {
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255, 0.6); /* Black w/opacity/see-through */
    color: black;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    backdrop-filter: blur(8px);

  }

.title {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    color : green;
}

a:hover {
    color : black;
    background-color: lightgreen;
  }